@{
    Layout = "_Layout.cshtml";    
}
<div>
    An example of a view with a layout and footer defined
</div>

@section Footer {
    Footer content defined in <strong>LayoutSample.cshtml</strong>.
}
